{% extends "master.html" %}
{% block main %}
<div class="sms">

  <h1>{{ title }}</h1>
  <h2>{{name}}</h2>
  <ul class="sms">
    {% for line in chat %}
      <li class="chat{{line.class}}">
          <span class="name">{{line.from}}</span>
          <blockquote class="{% if line.image %}photo{% else %}text{% endif %}">
              {% if line.image %}
              <img src="{{ line.image }}" class="img" />
              {% else %}
              <p>{{line.message}}</p>
              {% endif %}
          </blockquote>
          <img class="image" src="{{line.photo}}" />
      </li>
    {% endfor %}
</ul>

<div class="styleSelector">
  Style:
  <select id="style">
    {% for style in styles %}
    <option value="{{style}}">{{style}}</option>
    {% endfor %}
  </select>
</div>

</div>

<script type="text/javascript" src="assets/sms.js"></script>
{% endblock %}
