@background: #FFF;
@fromBubble: #DDDDE3;
@toBubble: #56C93A;
@toText: #FFF;
@width: 400px;
@headerColor: #F5F5F5;
@linkColor: #4789F0;
@headerPad: 12px;

@import "inc/iOS";

/* thanks to http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ :) */

blockquote::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 15px;
  background: none repeat scroll 0% 0% @fromBubble;
  border-bottom-right-radius: 15px;
  transform: translate(0px, -2px);
  border-right: 30px solid @fromBubble;
  bottom: 0;
  left: -10px;
}

.chat2 blockquote::before{
  background-color: @toBubble;
  right: -10px;
  left: inherit;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0;
  border-left: 30px solid @toBubble;
  border-right: 0px;
}
.chat2 blockquote::after{
  left: inherit;
  right: -45px;
  border-bottom-left-radius: 24px 47px;
  border-bottom-right-radius: 0;
}
.chat2 blockquote{
  background: @toBubble;
  color: @toText;
}

/* creates smaller curve */
blockquote::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 29px;
  height: 30px;
  border-bottom-right-radius: 24px 47px;
  transform: translate(-30px, -2px);
  background: none repeat scroll 0% 0% @background;
  left: 15px;
  bottom: 0;
}

.styleSelector{
  margin-top: 60px;
  text-align: center;
}
